@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "Makro Bold";
  src: url("https://db.onlinewebfonts.com/t/2642790799d51450439483aba3a0643a.eot");
  src: url("https://db.onlinewebfonts.com/t/2642790799d51450439483aba3a0643a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/2642790799d51450439483aba3a0643a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/2642790799d51450439483aba3a0643a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/2642790799d51450439483aba3a0643a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/2642790799d51450439483aba3a0643a.svg#Makro Bold")format("svg");
}